RewriteEngine on
	RewriteBase /


	#if the request is not secure
	RewriteCond %{HTTPS} off
	#redirect to the secure version
	RewriteCond %{SERVER_PORT} !^443
	RewriteRule (.*) https://%{HTTP_HOST}/$1 [R=301,L]

	RewriteCond %{REQUEST_URI} !^/assets/css/([^/]*)\.css$
	RewriteCond %{REQUEST_URI} !^/assets/css/fonts/([^/]*)\.woff$

	RewriteCond %{REQUEST_URI} !^/assets/img/([^/]*)\.(jpg|png|gif)$
	RewriteCond %{REQUEST_URI} !^/assets/img/cimg/(.*)\.(jpg|png|gif)$
	RewriteCond %{REQUEST_URI} !^/assets/js/([^/]*)\.js$
	RewriteRule ^ index\.php [NC,L]