<!DOCTYPE html>
<html class='han-la' lang='zh-tw'>
  <head>
    <meta charset='utf-8'>
    <meta content='width=device-width, initial-scale=1.0, user-scalable=no' name='viewport'>
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
    <title>NTU Voting</title>
    <link href="css/all.css" rel="stylesheet" type="text/css" />
    <script src="js/modernizr.js" type="text/javascript"></script>
  </head>
  <body class='single_selection'>
    <form action="" accept-charset="UTF-8" class="single-selection-form" method="post"><input name="skipped" class="skipped" style="display: none;" type="text" />
    <div class='header'>
      <hgroup class='title'>
        <h1>NTU Voting</h1>
        <h2>點選你想要投給誰</h2>
      </hgroup>
      <div class='actions two-actions'>
        <button class='button skip'>Skip</button>
        <input value="Submit" class="action button" type="submit" />
      </div>
      <input name="selection" id="selection" type="hidden" />
    </div>
    <div class='main'>
      <div class='votes'>
        <div class='vote'>
          <div class='candidate selection'>
            <div class='id'>1</div>
            <div class='elect'></div>
            <div class='pic'>
              <div class='img' style='background-image: url(http://placehold.it/289x392/d8e517/5a184d)'></div>
            </div>
            <div class='name'>◎◎◎</div>
          </div>
          <div class='candidate selection'>
            <div class='id'>2</div>
            <div class='elect'></div>
            <div class='pic'>
              <div class='img' style='background-image: url(http://placehold.it/351x379/d3b270/63dbe5)'></div>
            </div>
            <div class='name'>◎◎◎</div>
          </div>
          <div class='candidate selection'>
            <div class='id'>3</div>
            <div class='elect'></div>
            <div class='pic'>
              <div class='img' style='background-image: url(http://placehold.it/200x305/7104af/2c1b89)'></div>
            </div>
            <div class='name'>◎◎◎</div>
          </div>
          <div class='candidate selection'>
            <div class='id'>4</div>
            <div class='elect'></div>
            <div class='pic'>
              <div class='img' style='background-image: url(http://placehold.it/381x270/5f247a/8f1926)'></div>
            </div>
            <div class='name'>◎◎◎</div>
          </div>
          <div class='candidate selection'>
            <div class='id'>5</div>
            <div class='elect'></div>
            <div class='pic'>
              <div class='img' style='background-image: url(http://placehold.it/349x333/c2fd9b/f4906c)'></div>
            </div>
            <div class='name'>◎◎◎</div>
          </div>
          <div class='candidate selection'>
            <div class='id'>6</div>
            <div class='elect'></div>
            <div class='pic'>
              <div class='img' style='background-image: url(http://placehold.it/346x249/291b74/395ef1)'></div>
            </div>
            <div class='name'>◎◎◎</div>
          </div>
          <div class='candidate selection'>
            <div class='id'>7</div>
            <div class='elect'></div>
            <div class='pic'>
              <div class='img' style='background-image: url(http://placehold.it/200x317/a39e14/b2685c)'></div>
            </div>
            <div class='name'>◎◎◎</div>
          </div>
          <div class='candidate selection'>
            <div class='id'>8</div>
            <div class='elect'></div>
            <div class='pic'>
              <div class='img' style='background-image: url(http://placehold.it/369x273/43108e/84ce2b)'></div>
            </div>
            <div class='name'>◎◎◎</div>
          </div>
          <div class='candidate selection'>
            <div class='id'>9</div>
            <div class='elect'></div>
            <div class='pic'>
              <div class='img' style='background-image: url(http://placehold.it/207x217/ea5f74/307db1)'></div>
            </div>
            <div class='name'>◎◎◎</div>
          </div>
          <div class='candidate selection'>
            <div class='id'>10</div>
            <div class='elect'></div>
            <div class='pic'>
              <div class='img' style='background-image: url(http://placehold.it/368x225/cf286e/f8d672)'></div>
            </div>
            <div class='name'>◎◎◎</div>
          </div>
          <div class='candidate selection'>
            <div class='id'>11</div>
            <div class='elect'></div>
            <div class='pic'>
              <div class='img' style='background-image: url(http://placehold.it/298x283/91f326/3a7f81)'></div>
            </div>
            <div class='name'>◎◎◎</div>
          </div>
          <div class='candidate selection'>
            <div class='id'>12</div>
            <div class='elect'></div>
            <div class='pic'>
              <div class='img' style='background-image: url(http://placehold.it/260x376/604137/9174d3)'></div>
            </div>
            <div class='name'>◎◎◎</div>
          </div>
          <div class='candidate selection'>
            <div class='id'>13</div>
            <div class='elect'></div>
            <div class='pic'>
              <div class='img' style='background-image: url(http://placehold.it/204x262/539ab6/89dabf)'></div>
            </div>
            <div class='name'>◎◎◎</div>
          </div>
          <div class='candidate selection'>
            <div class='id'>14</div>
            <div class='elect'></div>
            <div class='pic'>
              <div class='img' style='background-image: url(http://placehold.it/389x257/894f1a/23d6c5)'></div>
            </div>
            <div class='name'>◎◎◎</div>
          </div>
          <div class='candidate selection'>
            <div class='id'>15</div>
            <div class='elect'></div>
            <div class='pic'>
              <div class='img' style='background-image: url(http://placehold.it/276x310/c9401a/d5fb6c)'></div>
            </div>
            <div class='name'>◎◎◎</div>
          </div>
          <div class='candidate selection'>
            <div class='id'>16</div>
            <div class='elect'></div>
            <div class='pic'>
              <div class='img' style='background-image: url(http://placehold.it/305x361/f5ce19/fc2385)'></div>
            </div>
            <div class='name'>◎◎◎</div>
          </div>
          <div class='candidate selection'>
            <div class='id'>17</div>
            <div class='elect'></div>
            <div class='pic'>
              <div class='img' style='background-image: url(http://placehold.it/296x358/0594c2/3efb60)'></div>
            </div>
            <div class='name'>◎◎◎</div>
          </div>
          <div class='candidate selection'>
            <div class='id'>18</div>
            <div class='elect'></div>
            <div class='pic'>
              <div class='img' style='background-image: url(http://placehold.it/318x276/f1ed56/bc896a)'></div>
            </div>
            <div class='name'>◎◎◎</div>
          </div>
          <div class='candidate selection'>
            <div class='id'>19</div>
            <div class='elect'></div>
            <div class='pic'>
              <div class='img' style='background-image: url(http://placehold.it/261x254/3c1560/ae2409)'></div>
            </div>
            <div class='name'>◎◎◎</div>
          </div>
          <div class='candidate selection'>
            <div class='id'>20</div>
            <div class='elect'></div>
            <div class='pic'>
              <div class='img' style='background-image: url(http://placehold.it/294x377/f8b6e5/f92adb)'></div>
            </div>
            <div class='name'>◎◎◎</div>
          </div>
          <div class='candidate selection'>
            <div class='id'>21</div>
            <div class='elect'></div>
            <div class='pic'>
              <div class='img' style='background-image: url(http://placehold.it/227x221/026ae5/c286d4)'></div>
            </div>
            <div class='name'>◎◎◎</div>
          </div>
          <div class='candidate selection'>
            <div class='id'>22</div>
            <div class='elect'></div>
            <div class='pic'>
              <div class='img' style='background-image: url(http://placehold.it/248x309/47fd15/d0a312)'></div>
            </div>
            <div class='name'>◎◎◎</div>
          </div>
          <div class='candidate selection'>
            <div class='id'>23</div>
            <div class='elect'></div>
            <div class='pic'>
              <div class='img' style='background-image: url(http://placehold.it/326x266/1de935/3af69c)'></div>
            </div>
            <div class='name'>◎◎◎</div>
          </div>
          <div class='candidate selection'>
            <div class='id'>24</div>
            <div class='elect'></div>
            <div class='pic'>
              <div class='img' style='background-image: url(http://placehold.it/257x289/73e6ac/c38459)'></div>
            </div>
            <div class='name'>◎◎◎</div>
          </div>
          <div class='candidate selection'>
            <div class='id'>25</div>
            <div class='elect'></div>
            <div class='pic'>
              <div class='img' style='background-image: url(http://placehold.it/299x304/395c8f/49bd3f)'></div>
            </div>
            <div class='name'>◎◎◎</div>
          </div>
          <div class='candidate selection'>
            <div class='id'>26</div>
            <div class='elect'></div>
            <div class='pic'>
              <div class='img' style='background-image: url(http://placehold.it/287x367/73195b/57dc34)'></div>
            </div>
            <div class='name'>◎◎◎</div>
          </div>
          <div class='candidate selection'>
            <div class='id'>27</div>
            <div class='elect'></div>
            <div class='pic'>
              <div class='img' style='background-image: url(http://placehold.it/211x238/c3b17e/5dc361)'></div>
            </div>
            <div class='name'>◎◎◎</div>
          </div>
          <div class='candidate selection'>
            <div class='id'>28</div>
            <div class='elect'></div>
            <div class='pic'>
              <div class='img' style='background-image: url(http://placehold.it/228x390/51ce2f/46e701)'></div>
            </div>
            <div class='name'>◎◎◎</div>
          </div>
          <div class='candidate selection'>
            <div class='id'>29</div>
            <div class='elect'></div>
            <div class='pic'>
              <div class='img' style='background-image: url(http://placehold.it/361x346/f173ab/a3bfd8)'></div>
            </div>
            <div class='name'>◎◎◎</div>
          </div>
          <div class='candidate selection'>
            <div class='id'>30</div>
            <div class='elect'></div>
            <div class='pic'>
              <div class='img' style='background-image: url(http://placehold.it/356x370/7c3860/a5140f)'></div>
            </div>
            <div class='name'>◎◎◎</div>
          </div>
          <div class='candidate selection'>
            <div class='id'>31</div>
            <div class='elect'></div>
            <div class='pic'>
              <div class='img' style='background-image: url(http://placehold.it/386x305/e14506/74b9da)'></div>
            </div>
            <div class='name'>◎◎◎</div>
          </div>
          <div class='candidate selection'>
            <div class='id'>32</div>
            <div class='elect'></div>
            <div class='pic'>
              <div class='img' style='background-image: url(http://placehold.it/310x349/3891be/ade64f)'></div>
            </div>
            <div class='name'>◎◎◎</div>
          </div>
          <div class='candidate selection'>
            <div class='id'>33</div>
            <div class='elect'></div>
            <div class='pic'>
              <div class='img' style='background-image: url(http://placehold.it/327x277/23bdc1/dab258)'></div>
            </div>
            <div class='name'>◎◎◎</div>
          </div>
          <div class='candidate selection'>
            <div class='id'>34</div>
            <div class='elect'></div>
            <div class='pic'>
              <div class='img' style='background-image: url(http://placehold.it/352x385/320e5d/0db217)'></div>
            </div>
            <div class='name'>◎◎◎</div>
          </div>
          <div class='candidate selection'>
            <div class='id'>35</div>
            <div class='elect'></div>
            <div class='pic'>
              <div class='img' style='background-image: url(http://placehold.it/292x260/c54960/8cfd61)'></div>
            </div>
            <div class='name'>◎◎◎</div>
          </div>
          <div class='candidate selection'>
            <div class='id'>36</div>
            <div class='elect'></div>
            <div class='pic'>
              <div class='img' style='background-image: url(http://placehold.it/347x282/24de70/230461)'></div>
            </div>
            <div class='name'>◎◎◎</div>
          </div>
          <div class='candidate selection'>
            <div class='id'>37</div>
            <div class='elect'></div>
            <div class='pic'>
              <div class='img' style='background-image: url(http://placehold.it/295x390/e74f59/3e6785)'></div>
            </div>
            <div class='name'>◎◎◎</div>
          </div>
          <div class='candidate selection'>
            <div class='id'>38</div>
            <div class='elect'></div>
            <div class='pic'>
              <div class='img' style='background-image: url(http://placehold.it/284x249/9056b8/cbd3a5)'></div>
            </div>
            <div class='name'>◎◎◎</div>
          </div>
          <div class='candidate selection'>
            <div class='id'>39</div>
            <div class='elect'></div>
            <div class='pic'>
              <div class='img' style='background-image: url(http://placehold.it/396x332/693bd7/82549f)'></div>
            </div>
            <div class='name'>◎◎◎</div>
          </div>
          <div class='candidate selection'>
            <div class='id'>40</div>
            <div class='elect'></div>
            <div class='pic'>
              <div class='img' style='background-image: url(http://placehold.it/353x203/e80543/3d602c)'></div>
            </div>
            <div class='name'>◎◎◎</div>
          </div>
          <div class='candidate selection'>
            <div class='id'>41</div>
            <div class='elect'></div>
            <div class='pic'>
              <div class='img' style='background-image: url(http://placehold.it/344x373/254179/d24918)'></div>
            </div>
            <div class='name'>◎◎◎</div>
          </div>
          <div class='candidate selection'>
            <div class='id'>42</div>
            <div class='elect'></div>
            <div class='pic'>
              <div class='img' style='background-image: url(http://placehold.it/230x290/41bcd7/4b8f62)'></div>
            </div>
            <div class='name'>◎◎◎</div>
          </div>
          <div class='candidate selection'>
            <div class='id'>43</div>
            <div class='elect'></div>
            <div class='pic'>
              <div class='img' style='background-image: url(http://placehold.it/289x278/92dcfb/8f69e4)'></div>
            </div>
            <div class='name'>◎◎◎</div>
          </div>
          <div class='candidate selection'>
            <div class='id'>44</div>
            <div class='elect'></div>
            <div class='pic'>
              <div class='img' style='background-image: url(http://placehold.it/358x254/e23ca0/09b7e8)'></div>
            </div>
            <div class='name'>◎◎◎</div>
          </div>
          <div class='candidate selection'>
            <div class='id'>45</div>
            <div class='elect'></div>
            <div class='pic'>
              <div class='img' style='background-image: url(http://placehold.it/292x265/2c76e0/6d2304)'></div>
            </div>
            <div class='name'>◎◎◎</div>
          </div>
          <div class='candidate selection'>
            <div class='id'>46</div>
            <div class='elect'></div>
            <div class='pic'>
              <div class='img' style='background-image: url(http://placehold.it/264x251/4b328a/3976bf)'></div>
            </div>
            <div class='name'>◎◎◎</div>
          </div>
          <div class='candidate selection'>
            <div class='id'>47</div>
            <div class='elect'></div>
            <div class='pic'>
              <div class='img' style='background-image: url(http://placehold.it/326x242/265ecd/945860)'></div>
            </div>
            <div class='name'>◎◎◎</div>
          </div>
          <div class='candidate selection'>
            <div class='id'>48</div>
            <div class='elect'></div>
            <div class='pic'>
              <div class='img' style='background-image: url(http://placehold.it/249x332/bfedc0/931e2f)'></div>
            </div>
            <div class='name'>◎◎◎</div>
          </div>
          <div class='candidate selection'>
            <div class='id'>49</div>
            <div class='elect'></div>
            <div class='pic'>
              <div class='img' style='background-image: url(http://placehold.it/286x331/e6781c/48e7bd)'></div>
            </div>
            <div class='name'>◎◎◎</div>
          </div>
          <div class='candidate selection'>
            <div class='id'>50</div>
            <div class='elect'></div>
            <div class='pic'>
              <div class='img' style='background-image: url(http://placehold.it/243x332/eb7d04/9a6431)'></div>
            </div>
            <div class='name'>◎◎◎</div>
          </div>
        </div>
      </div>
    </div>
    </form>
    <script src="js/all.js" type="text/javascript"></script>
  </body>
</html>
